{% extends 'base/base.html' %}

{% block stitle %}友链{% endblock %}
{% block title %}友链{% endblock %}
{% block sub_title %}Love and peace!{% endblock %}

{% block content %}
  <!-- Main Content -->
  <div class="container">
      <div class="row col-lg-10 mx-auto">
        <!-- Column -->
        {% for item in items %}
        <div class="col-md-3 mb-3">
          <a href="{{ item.url }}" target="_blank" style="text-decoration: none">
            <div class="card card-inverse" style="overflow: hidden;text-overflow:ellipsis;white-space:nowrap;
            -webkit-line-clamp: 1; -webkit-box-orient: vertical; word-break: break-all;
            word-wrap: break-word;width: 100% !important;">
                <div class="box p-2">
                    <img src="{{ item.url }}/favicon.ico"  onerror="this.parentNode.removeChild(this)" width="22px" class="pb-1">
                    <span>
                      {{ item.name }}
                    </span>
                </div>
            </div>
          </a>
        </div>
        {% endfor %}
    </div>
  </div>
{% endblock %}

