{% extends 'base/base.html' %}

{% block bgimg %}background-image: url('../../static/images/home-bg.jpg'){% endblock %}
{% block title %}友链{% endblock %}
{% block sub_title %}Love and peace!{% endblock %}

{% block content %}
  <!-- Main Content -->
  <div class="container">
      <div class="row col-lg-10 mx-auto">
        <!-- Column -->
        {% for item in items %}
        <div class="col-md-3 mb-3">
          <a href="{{ item.url }}" target="_blank" style="text-decoration: none">
            <div class="card card-inverse">
                <div class="box p-2">
                    <img src="{{ item.url }}/favicon.ico" width="22px" class="pb-1">
                    <span>{{ item.name }}</span>
                </div>
            </div>
          </a>
        </div>
        {% endfor %}
    </div>
  </div>
{% endblock %}

