{% extends 'base/base.html' %}

{% block css %}
<link href="{{ url_for('static', filename='css/highlight.css') }}" rel="stylesheet">
{% endblock %}

{% block bgimg %}background-image: url('../../static/images/home-bg.jpg'){% endblock %}
{% block title %}<span style="font-size: 35px">{{ item.title }}</span> {% endblock %}
{% block sub_title %}<span class="meta text-right" style="font-size: 16px">
              {{ item.created }}</span>{% endblock %}

{% block content %}
  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          {{ item.body|markdown|safe }}
          <p>
              <label class="border" style="font-size: 16px;padding: 0 3px;">
                <a href="{{ url_for('bp_home.home', category_id=item.category_id) }}" style="text-decoration: none">
                  {{ item.category_name }}
                </a>
              </label>
          </p>
        </div>
      </div>
    </div>
  </article>
{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename='js/highlight.js') }}"></script>
<script type="text/javascript">
    $('pre').css({"background-color":"#EFF0EF", "padding": "10px",
      "border": "1px solid #CBCCCB","border-radius":"5px", "font-size":"14px"});

    $('article a').css({"text-decoration":"none", "color": "#17A1B7", "font-size": "16px"});

    $('article img').parent().css({
       "width":"100%",
       "height":"300px",
       "display":"block",
       "text-align":"center",
    });

    $('article img').css({"max-width": "100%", "max-height": "100%", "display": "inline"});
</script>
{% endblock %}

