{% extends 'base/base.html' %}

{% block bgimg %}background-image: url('../../static/images/home-bg.jpg'){% endblock %}
{% block title %}层楼{% endblock %}
{% block sub_title %}少年不识愁滋味，爱上层楼。{% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for item in items %}
              <div class="post-preview border border-top-0 border-left-0 border-right-0">
                <a href="{{ url_for('bp_post.detail', id=item.id) }}">
                  <p class="post-title">
                    <span style="font-size: 24px">{{ item.title }}</span>
                    <span style="font-size: 14px; float: right;padding-top: 30px">{{ item.created }}</span>
                  </p>
                </a>
              </div>
            {% endfor %}
          <br>
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">下一页</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

