<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="none" />
    <title>404 Not Found</title>
    <style>
        *{
            font-family:"Microsoft Yahei";
            margin:0;
            font-weight:lighter;
            text-decoration:none;
            text-align:center;
            line-height:2.2em;
        }
        html,body{
            height:100%;
        }
        h1{
            font-size:300px;
            line-height:1em;
        }
        table{
            width:100%;
            height:80%;
            border:0;
        }
    </style>
</head>
<body>
    <table cellspacing="0" cellpadding="0"><tr><td><table cellspacing="0" cellpadding="0"><tr><td>
    <h1>400</h1>
    <h3>啊哦😯，你访问的页面无效的哦～</h3>
    <p>仔细想想正确的页面地址叭～<br/>
        <a href="javascript:history.go(-1)">👈返回上一页</a>
    </p>
    </td></tr></table></td></tr></table>
</body>
</html>