<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="层楼个人博客">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/logos/favicon.ico') }}"/>
  <link rel="bookmark" href="{{ url_for('static', filename='images/logos/favicon.ico') }}"/>
  <meta name="author" content="aon">
  <meta >
  <title>层楼</title>
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/clean-blog.min.css') }}" rel="stylesheet">
  {% block style %}{% endblock %}
  <style type="text/css">
      #wxqrcode {
        position: absolute;
        background-color: white;
        border:1px solid #EDEEED;
        border-radius: 5px;
        padding: 0 2px;
        height: 400px;
        left: 50%;
        top: 35%;
        box-sizing: border-box;
        transform: translate(-50%, -20%);
        display: none;
        z-index: 10;
      }
      #close:hover{
        cursor: pointer;
      }
  </style>
</head>

<body>
  {% block nav %}
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('bp_home.home') }}">层楼</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('bp_home.home') }}">首页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('bp_about.about') }}">关于</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('bp_contact.contact') }}">留言</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('bp_link.list') }}">友链</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% endblock %}

  <!-- Page Header -->
  <header class="masthead mb-3" style="height: 200px">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          <div class="page-heading mt-0 p-5">
            <h1>{% block title %}{% endblock %}</h1>
            <span class="subheading">{% block sub_title %}{% endblock %}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div id="wxqrcode">
    <p class="text-right m-0">
        <svg t="1577278693599" id="close" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5973" width="20" height="20">
            <path d="M510.165333 453.482667L270.634667 213.952l-60.330667 60.352 239.530667 239.530667L210.304 753.365333l60.330667 60.330667 239.530666-239.530667L512 576l1.834667-1.834667 239.530666 239.530667 60.330667-60.330667-239.530667-239.530666 239.530667-239.530667-60.330667-60.352-239.530666 239.530667-1.834667-1.813334z" p-id="5974"></path>
        </svg>
    </p>
    <img alt="请用微信扫描二维码" id="qrcode" style="padding: 0 10px;margin-bottom: 10px">
    <p class="text-center m-0">请用微信扫码分享</p>
  </div>
  {% block content %}
  {% endblock %}

  {% block footer %}
  <a href="{{ url_for('bp_admin.user') }}"><hr></a>
  <!-- Footer -->
  <footer style="padding: 0">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">分享到：
              <a href="#" class="share" data-type="qq">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-qq fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="share" data-type="weixin">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-weixin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="share" data-type="weibo">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-weibo fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy;
              <a href="http://www.icenglou.cn" style="text-decoration: none">www.icenglou.cn</a>
              <img src="{{ url_for('static', filename='images/beian.png') }}">
              <a href="http://www.beian.miit.gov.cn/"style="text-decoration: none" target="_blank">赣ICP备20000788号-1</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
  {% endblock %}
  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static', filename='js/clean-blog.min.js') }}"></script>
  {% block js %}{% endblock %}
  <script type="text/javascript">
    $(".share").click(function (){
      var stype = $(this).data('type');
      //获取文章标题
      var ftit = window.document.title;
      //获取网页中内容的第一张图片地址作为分享图
      var flink = window.document.images[0];
      var lk = '';
      var url = window.document.location.href;
      var host = window.location.host;
      var description = window.document.querySelector('meta[name="description"]').getAttribute('content');

      if(typeof flink == 'undefined'){
          flink='';
      }
      //当内容中没有图片时，设置分享图片为网站logo
      if(flink == ''){
          lk = 'http://'+ host +'/favicon.ico';
      }
      // //百度编辑器自带图片获取
      // if(flink.indexOf('ueditor') != -1){
      //     lk = flink;
      // }
      //qq空间接口的传参

      console.log(ftit, flink, lk, url, host, description);
      if(stype=='qzone'){
          window.open('https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+url+'&title='+ftit+'&pics='+lk+'&summary='+description);
      }
      //新浪微博接口的传参
      if(stype=='weibo'){
          window.open('http://service.weibo.com/share/share.php?url='+url+'&title='+ftit+'&pic='+lk+'&appkey=2706825840');
      }
      //qq好友接口的传参
      if(stype == 'qq'){
          window.open('http://connect.qq.com/widget/shareqq/index.html?url='+url+'&title='+ftit+'&pics='+lk+'&summary='+description);
      }
      //生成二维码给微信扫描分享，也可以用jquery.qrcode.js插件实现二维码生成
      if(stype == 'weixin'){
            $.ajax({
                url: '/tool/share/wxqrcode',
                data: {url:url},
                type: 'get',
                dataType: 'json',
                success: function (ret) {
                    if (ret.code == 1001){
                        console.log(ret.datas);
                        $('#qrcode').attr('src', ret.datas);
                        $('#wxqrcode').show();
                    }else {

                    }
                }
            })
      }
  });

    $("#close").click(function () {
        $('#wxqrcode').hide();
    });

    function random_bg(){
        $.ajax({
            url: "{{ url_for('bp_tool.random_bg') }}",
            type: "get",
            dataType: "json",
            success: function (ret) {
                if(ret.code==1001){
                    $("header").css("background-image", "url("+ret.datas+")")
                }
            }
        });
    }
    random_bg();
  </script>
</body>
</html>