<!DOCTYPE html>
<html lang="zh" class="theme-default">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="层楼个人博客">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/logos/favicon.ico') }}" />
  <link rel="bookmark" href="{{ url_for('static', filename='images/logos/favicon.ico') }}" />
  <meta name="author" content="aon">
  <title>{% block stitle %}{% endblock %}--层楼</title>
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
    type="text/css">
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/clean-blog.min.css') }}" rel="stylesheet">
  <!--Aplayer-->
  <link href="https://cdn.bootcss.com/aplayer/1.10.1/APlayer.min.css" rel="stylesheet">
  {% block style %}{% endblock %}
  <style type="text/css">
    #wxqrcode {
      position: absolute;
      background-color: white;
      border: 1px solid #EDEEED;
      border-radius: 5px;
      padding: 0 2px;
      height: 400px;
      left: 50%;
      top: 35%;
      box-sizing: border-box;
      transform: translate(-50%, -20%);
      display: none;
      z-index: 10;
    }

    #close:hover {
      cursor: pointer;
    }
  </style>
  <style>
    #scrollSearchDiv{
      position:fixed;
      bottom: 80px;
      right: 15px;
      width: 50px;
      line-height: 40px;
      text-align: center;
      font-size: 40px;
    }
    .add{
      position:fixed;
      bottom: 120px;
      right: 15px;
      width: 50px;
      line-height: 40px;
      text-align: center;
      font-size: 24px;
    }
    .edit{
      position:fixed;
      bottom: 150px;
      right: 15px;
      width: 50px;
      line-height: 40px;
      text-align: center;
      font-size: 24px;
    }
  </style>
  <style>
    .theme-default {

   }
    .theme-first {
      --accent-color: #CBDCD8;
      --font-color: #342c47;
   }
   
   .theme-second {
      --accent-color: #1C1E2A;
      --font-color: #97A2AF;
   }
   .theme-second a{
     color: #97A2AF;
   }
   
   .theme-third {
      --accent-color: #b49c73;
      --font-color: #565d47;
   }
   
   body {
       background-color: var(--accent-color);
       color: var(--font-color);
   }
   .color-select{
     line-height: 38px;
   }
   .color-select button {
    -moz-appearance: none;
    appearance: none;
    border: 2px solid;
    border-radius: 9999px;
    cursor: pointer;
    height: 20px;
    margin: 0;
    outline: 0;
    width: 20px;
  }

  /* Style each swatch to match the corresponding theme */
  .color-select button:nth-child(1) { background: #ffffff; border-color:  #000000; }
  .color-select button:nth-child(2) { background: #CBDCD8; border-color:  #342c47; }
  .color-select button:nth-child(3) { background: #1C1E2A; border-color: #97A2AF; }
  .color-select button:nth-child(4) { background: #b49c73; border-color: #565d47; }
  </style>
</head>

<body>
  {% block nav %}
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand pt-1" href="{{ url_for('bp_home.home') }}">
        <img src="{{ url_for('static', filename='images/logos/favicon.ico') }}">
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('bp_home.home') }}">首页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('bp_about.about') }}">关于</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('bp_contact.contact') }}">留言</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('bp_link.list') }}">友链</a>
          </li>
          <li class="nav-item">
            <span class="color-select">
              <button onclick="toggleDefaultTheme()"></button>
              <button onclick="toggleFirstTheme()"></button>
              <button onclick="toggleSecondTheme()"></button>
              <button onclick="toggleThirdTheme()"></button>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% endblock %}

  <!-- Page Header -->
  <header class="masthead mb-3" style="height: 200px">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          <div class="page-heading mt-0 p-5">
            <h1>{% block title %}{% endblock %}</h1>
            <span class="subheading">{% block sub_title %}{% endblock %}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div id="wxqrcode">
    <p class="text-right m-0">
      <svg t="1577278693599" id="close" class="icon" viewBox="0 0 1024 1024" version="1.1"
        xmlns="http://www.w3.org/2000/svg" p-id="5973" width="20" height="20">
        <path
          d="M510.165333 453.482667L270.634667 213.952l-60.330667 60.352 239.530667 239.530667L210.304 753.365333l60.330667 60.330667 239.530666-239.530667L512 576l1.834667-1.834667 239.530666 239.530667 60.330667-60.330667-239.530667-239.530666 239.530667-239.530667-60.330667-60.352-239.530666 239.530667-1.834667-1.813334z"
          p-id="5974"></path>
      </svg>
    </p>
    <img alt="请用微信扫描二维码" id="qrcode" style="padding: 0 10px;margin-bottom: 10px">
    <p class="text-center m-0">请用微信扫码分享</p>
  </div>

  {% if current_user.is_authenticated %}
  <div class="add">
    <a href="{{ url_for('bp_post.add') }}" id="add" title="添加文章">
        <i class="fas fa-plus"></i>
    </a>
  </div>
  {% endif %}
  <div id="scrollSearchDiv">
      <a id="go" title="回到顶部"><i class="fas fa-angle-up"></i></a>
  </div>
  <div id="aplayer">
    <pre class="aplayer-lrc-content">
      [00:00.00] 作曲 : 林一峰
      [00:01.00] 作词 : 易家扬
      [00:24.898]听见 冬天的离开
      [00:29.697]我在某年某月 醒过来
      [00:34.768]我想 我等 我期待
      [00:40.598]未来却不能因此安排
      [00:53.398]阴天 傍晚 车窗外
      [00:58.758]未来有一个人在等待
      [01:04.298]向左向右向前看
      [01:09.599]爱要拐几个弯才来
      [01:14.369]我遇见谁 会有怎样的对白
      [01:19.638]我等的人 他在多远的未来
      [01:24.839]我听见风来自地铁和人海
      [01:30.399]我排着队 拿着爱的号码牌
      [01:56.388]阴天 傍晚 车窗外
      [02:02.298]未来有一个人在等待
      [02:06.650]向左向右向前看
      [02:12.000]爱要拐几个弯才来
      [02:16.980]我遇见谁 会有怎样的对白
      [02:22.289]我等的人 他在多远的未来
      [02:27.989]我听见风来自地铁和人海
      [02:32.688]我排着队 拿着爱的号码牌
      [02:43.380]我往前飞 飞过一片时间海
      [02:48.298]我们也曾在爱情里受伤害
      [02:53.689]我看着路 梦的入口有点窄
      [02:58.748]我遇见你是最美丽的意外
      [03:05.888]总有一天 我的谜底会揭开
    </pre>
  </div>
  {% block edit %}{% endblock %}

  {% block content %}{% endblock %}

  {% block footer %}
  <a href="{{ url_for('bp_admin.user') }}">
    <hr></a>
  <!-- Footer -->
  <footer style="padding: 0">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">分享到：
              <a href="#" class="share" data-type="qq" title="分享到QQ">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-qq fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="share" data-type="weixin" title="分享到微信">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-weixin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="share" data-type="weibo" title="分享到微博">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-weibo fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="{{ url_for('bp_home.feed') }}" class="share" data-type="rss" title="RSS订阅">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">
            <span>在线选猫：</span>
            <a href="javascript:show(tororo)">白猫</a>
            <a href="javascript:show(hijiki)">黑猫</a>
            Copyright &copy;
            <a href="http://www.icenglou.cn" style="text-decoration: none">www.icenglou.cn</a>
            <img src="{{ url_for('static', filename='images/beian.png') }}">
            <a href="https://beian.miit.gov.cn/" style="text-decoration: none" target="_blank">赣ICP备20000788号-1</a>
            本站已艰难运行了
            <b>
              <strong>
                <script language="JavaScript" type="text/javascript">
                  var urodz = new Date("03/18/2020");
                  var now = new Date();
                  var ile = now.getTime() - urodz.getTime();
                  var dni = Math.floor(ile / (1000 * 60 * 60 * 24));
                  document.write(+ dni)
                </script>
              </strong>
            </b>
            天
          </p>
        </div>
      </div>
    </div>
  </footer>
  {% endblock %}
  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static', filename='js/clean-blog.min.js') }}"></script>
  <script src="{{ url_for('static', filename='live2DModel/l2dwidget.min.js') }}"></script>
  <!-- APlayer -->
  <script src="https://cdn.bootcss.com/aplayer/1.10.1/APlayer.min.js"></script>
  {% block js %}{% endblock %}
  <script type="text/javascript">
    // 随机背景图
    function random_bg() {
      $.ajax({
        url: "{{ url_for('bp_tool.random_bg') }}",
        type: "get",
        dataType: "json",
        success: function (ret) {
          if (ret.code == 1001) {
            $("header").css("background-image", "url(" + ret.datas + ")")
          }
        }
      });
    }
    random_bg();

    // 分享
    $(".share").click(function () {
      var stype = $(this).data('type');
      //获取文章标题
      var ftit = window.document.title;
      //获取网页中内容的第一张图片地址作为分享图
      var flink = $("header").css("background-image").replace('url(','').replace(')','');
      var lk = '';
      var url = window.document.location.href;
      var host = window.location.host;
      var description = window.document.querySelector('meta[name="description"]').getAttribute('content');

      if (typeof flink == 'undefined') {
        flink = '';
      }
      //当内容中没有图片时，设置分享图片为网站logo
      if (flink == '') {
        lk = 'http://' + host + '/favicon.ico';
      }
      // //百度编辑器自带图片获取
      // if(flink.indexOf('ueditor') != -1){
      //     lk = flink;
      // }
      //qq空间接口的传参

      console.log(ftit, flink, lk, url, host, description);
      if (stype == 'qzone') {
        window.open('https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=' + url + '&title=' + ftit + '&pics=' + lk + '&summary=' + description);
      }
      //新浪微博接口的传参
      if (stype == 'weibo') {
        window.open('http://service.weibo.com/share/share.php?url=' + url + '&title=' + ftit + '&pic=' + lk + '&appkey=2706825840');
      }
      //qq好友接口的传参
      if (stype == 'qq') {
        window.open('http://connect.qq.com/widget/shareqq/index.html?url=' + url + '&title=' + ftit + '&pics=' + lk + '&summary=' + description);
      }
      //生成二维码给微信扫描分享，也可以用jquery.qrcode.js插件实现二维码生成
      if (stype == 'weixin') {
        $.ajax({
          url: '/tool/share/wxqrcode',
          data: { url: url },
          type: 'get',
          dataType: 'json',
          success: function (ret) {
            if (ret.code == 1001) {
              console.log(ret.datas);
              $('#qrcode').attr('src', ret.datas);
              $('#wxqrcode').show();
            } else {

            }
          }
        })
      }
    });

    // 关闭二维码
    $("#close").click(function () {
      $('#wxqrcode').hide();
    });
  </script>
  <script>
  // 返回顶部
  $(function () {
    //绑定滚动条事件
    $(window).bind("scroll", function () {
        var sTop = $(window).scrollTop();
        var sTop = parseInt(sTop);
        if (sTop >= 130) {
            if (!$("#scrollSearchDiv").is(":visible")) {
                try {
                    $("#scrollSearchDiv").slideDown();
                } catch (e) {
                    $("#scrollSearchDiv").show();
                }
            }
        }
        else {
            if ($("#scrollSearchDiv").is(":visible")) {
                try {
                    $("#scrollSearchDiv").slideUp();
                } catch (e) {
                    $("#scrollSearchDiv").hide();
                }
            }
        }
    });
  });

  jQuery.fn.myScrollTo = function(speed) {
    var targetOffset = $(this).offset().top;
    console.log(targetOffset);//去除默认样式后是 0
    //$(this).offset()：获得位移对象（此时其实啥也没做）
    //$(this).offset().top：获得位移高度
    $('html,body').stop().animate({scrollTop: targetOffset}, speed);
    return this;
  };
  $("#go").click(function(){
    $("body").myScrollTo(500);//调用，并传入速度
    return false;//阻止默认事件
  });

  // 猫🐱
  var tororo = "{{ url_for('static', filename='live2DModel/tororo/assets/tororo.model.json') }}";
  var hijiki = "{{ url_for('static', filename='live2DModel/hijiki/assets/hijiki.model.json') }}";

  // 配置文件官方API: https://l2dwidget.js.org/docs/class/src/index.js~L2Dwidget.html#instance-method-init
  var config = {
      model: {
          jsonPath: '', // xxx.model.json 的路径
      },
      display: {
          superSample: 1, // 超采样等级
          width: 350, // canvas的宽度
          height: 500, // canvas的高度
          position: 'left', // 显示位置：左或右
          hOffset: 0, // canvas水平偏移
          vOffset: 0, // canvas垂直偏移
      },
      mobile: {
          show: true, // 是否在移动设备上显示
          scale: 1, // 移动设备上的缩放
          motion: true, // 移动设备是否开启重力感应
      },
      react: {
          opacityDefault: 1, // 默认透明度
          opacityOnHover: 1, // 鼠标移上透明度
      },
  }
  function show(path) {
    config.model.jsonPath = path;
    L2Dwidget.init(config)
  }

  window.onload = function () {
      show(tororo);
  }

  // 主题颜色
  // Set a given theme/color-scheme
  function setTheme(themeName) {
    localStorage.setItem('theme', themeName);
    document.documentElement.className = themeName;
  }

  // Toggle between color themes
  function toggleDefaultTheme() {
    if (localStorage.getItem('theme') !== 'theme-default'){
        setTheme('theme-default');
    }
  }
  function toggleFirstTheme() {
    if (localStorage.getItem('theme') !== 'theme-first'){
        setTheme('theme-first');
    }
  }
  function toggleSecondTheme() {
    if (localStorage.getItem('theme') !== 'theme-second'){
        setTheme('theme-second');
    }
  }
  function toggleThirdTheme() {
    if (localStorage.getItem('theme') !== 'theme-third'){
        setTheme('theme-third');
    }
  }

  // Immediately set the theme on initial load
  (function () {
    if (localStorage.getItem('theme') === 'theme-default') {
        setTheme('theme-default');
    }
    if (localStorage.getItem('theme') === 'theme-first') {
        setTheme('theme-first');
    }
    if (localStorage.getItem('theme') === 'theme-second') {
        setTheme('theme-second');
    }
    if (localStorage.getItem('theme') === 'theme-third') {
        setTheme('theme-third');
    }
  })();

  // 音乐播放器
  const ap = new APlayer({
    container: document.getElementById('aplayer'),
    lrcType: 2,
    fixed: true,
    audio: [{
        name: '遇见',
        artist: '孙燕姿',
        url: "{{ url_for('static', filename='music/meet.mp3') }}",
        cover: 'http://y.gtimg.cn/music/photo_new/T002R300x300M000002ehzTm0TxXC2.jpg'
    }]
  });
</script>
</body>
</html>
