{% extends 'base/base.html' %}

{% block css %}
{{ super() }}
<style type="text/css">

</style>
{% endblock %}

{% block bgimg %}background-image: url('../../static/images/home-bg.jpg'){% endblock %}
{% block title %}管理后台{% endblock %}
{% block sub_title %}{% endblock %}

{% block content %}
  <!-- Main Content -->
  <div class="container">
      <div style="font-size: 14px;position: absolute;right: 20px;z-index: 10">
          {{ macros.render_msg() }}
      </div>
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
          <div class="container">
              <!-- Nav tabs -->
              {% include 'admin/nav.html' %}

              <!-- Tab panes -->
              <div class="tab-content">
                {% block nav_content %}{% endblock %}
              </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}

