<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加图片--层楼</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logos/favicon1.ico') }}"/>
    <link rel="bookmark" href="{{ url_for('static', filename='images/logos/favicon1.ico') }}"/>
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/clean-blog.min.css') }}" rel="stylesheet">
    <style type="text/css" rel="stylesheet">
        .click_upload{
            width: 80%;
            height: 600px;
            margin: auto;
            text-align: center;
            border: 3px solid #DEE2E6;
            border-radius: 5px;
            padding: 2px;
        }
        .click_upload:hover{
            border: 3px solid #74b5da;
            cursor: pointer;
        }
    </style>
</head>
<body style="padding-top: 2%;">
    <form action="{{ url_for('bp_admin.images_add') }}" method="post" class="col-lg-10 m-auto" enctype="multipart/form-data">
      <input type="file" name="image" id="image" style="display: none;">
      <div class="click_upload">
        <i class="fa fa-fw fa-plus" style="font-size: 100px;color: #DEE2E6;position: relative; top:40%"></i>
      </div>
      <br>
      <div class="form-group row">
        <label class="col-sm-9 col-form-label text-right"></label>
        <div class="col-sm-3 text-right">
          <button type="submit" class="btn btn-info">添加</button>
          <a href="javascript:history.go(-1)" role="button" aria-pressed="true" class="btn btn-dark" style="margin-left:30px;">取消</a>
        </div>
      </div>
    </form>
</body>
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script type="text/javascript">
    $(".click_upload").click(function () {
        $(this).parent().find("input[name=image]").click();
        $("input[name=image]").change(function(e) {
            var reader = new FileReader();
            var img_path;
            var this_ = $(this);
            reader.onload = (function (file) {
                return function (e) {
                    img_path = this.result; // base64的数据
                    this_.parent().find('div[class=click_upload]').html('<img src="'+ img_path +'" style="width: 80%; height: 590px">');
                };
            })(e.target.files[0]);
            reader.readAsDataURL(e.target.files[0]);
        });
    })
</script>
</html>
