<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑用户--层楼</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logos/favicon1.ico') }}"/>
    <link rel="bookmark" href="{{ url_for('static', filename='images/logos/favicon1.ico') }}"/>
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/clean-blog.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='plugins/editormd/css/editormd.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/select2/dist/css/select2.css') }}">
</head>
<body>
    <form action="" method="post" class="col-lg-8 mx-auto">
      <div class="control-group">
        <div class="form-group floating-label-form-group controls">
          <label>用户名</label>
          <input type="text" class="form-control" placeholder="用户名" name="username" {% if item.username %}value="{{ item.username }}"{% endif %}} maxlength="20" required>
        </div>
      </div>

      <div class="control-group">
        <div class="form-group floating-label-form-group controls">
          <label>密码</label>
          <input type="password" class="form-control" placeholder="密码" name="password" {% if item.password %}value="{{ item.password }}"{% endif %} maxlength="12" required>
        </div>
      </div>

      <div class="control-group">
        <div class="form-group floating-label-form-group controls">
          <label>网站标题</label>
          <input type="text" class="form-control" placeholder="网站标题" name="blog_title" {% if item.blog_title %}value="{{ item.blog_title }}"{% endif %}} maxlength="60" required>
        </div>
      </div>

      <div class="control-group">
        <div class="form-group floating-label-form-group controls">
          <label>网站子标题</label>
          <input type="text" class="form-control" placeholder="网站子标题" name="blog_sub_title" {% if item.blog_sub_title %}value="{{ item.blog_sub_title }}"{% endif %}} maxlength="120" required>
        </div>
      </div>

      <div class="control-group">
        <div class="form-group floating-label-form-group controls">
          <label>名字</label>
          <input type="text" class="form-control" placeholder="名字" name="name" {% if item.name %}value="{{ item.name }}"{% endif %}} maxlength="30" required>
        </div>
      </div>

      <div class="form-group row">
        <div  id="test-editormd">
            <textarea name="about" style="display: none" required>{% if item.about %}{{ item.about }}{% endif %}</textarea>
        </div>
      </div>
      <input type="hidden" name="id" value="{{ item.id }}">
      <div class="form-group row">
        <label class="col-sm-9 col-form-label text-right"></label>
        <div class="col-sm-3">
          <button type="submit" class="btn btn-info">编辑</button>
          <a href="javascript:history.go(-1)" role="button" aria-pressed="true" class="btn btn-dark" style="margin-left:30px;">取消</a>
        </div>
      </div>
    </form>
</body>
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/select2/dist/js/select2.full.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='plugins/editormd/editormd.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    var testEditor;
    $(function () {
        testEditor = editormd("test-editormd", {
            width: "97%",
            height: 400,
            syncScrolling: "single",
            path: "{{ url_for('static',filename='plugins/editormd/lib/') }}",
            placeholder: "请输入正文……",
            emoji: true,
            imageUpload    : true,
            imageFormats   : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "{{ url_for('bp_tool.editor_upload') }}",
        });
    });

    // For select 2
    $(".select2").select2();

</script>
</html>
