{% extends 'base/base.html' %}
{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('../../static/images/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>关于我</h1>
            <span class="subheading"></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p></p>
        <p></p>
        <p></p>
      </div>
    </div>
  </div>
{% endblock %}
